#! /usr/bin/env bash

# This script should install remove old files left over from the
# homesick management

{{ if not (has "core" .global.roles)  -}}
exit 0
{{ end -}}

source "${HOME}/bin/helper.sh"

blue "bootstrap core (remove old files)"

cd "${HOME}" || exit

shopt -s nullglob

files=("${HOME}/.dir_colors.sh"
	"${HOME}/bin/nvim_paste.sh"
    "${HOME}/bin/remove_stale_agents.sh"
    "${HOME}/bin/reset_nvim.sh"
    "${HOME}/bin/update_posh.sh"
    "${HOME}/.less_colors.sh"
	"${HOME}/.ls_colors.sh"
	"${HOME}/.skhdrc"
	"${HOME}/.path.d/70_homesick.bash"
	"${HOME}/.path.d/70_homesick.zsh"
	"${HOME}/.path.d/80_posh.bash"
	"${HOME}/.path.d/80_posh.zsh"
    "${HOME}/software/examples"
	"${HOME}/.yabairc"
    "${HOME}/.zshrc")

directories=("${HOME}/.oh-my-posh/"
	"${HOME}/.homesick/"
	"${HOME}/.bat/"
	"${HOME}/.terminfo_src/"
	"${HOME}/.wsltty/"
	"${HOME}/.rust/"
	"${HOME}/.yazi/")

for p in "${files[@]}"; do
	if [[ -f "$p" || -h "$p" ]]; then
		echo "rm $p"
		rm "$p"
	fi
done
for p in "${directories[@]}"; do
	if [[ -d "$p" ]]; then
		echo "rm -rf $p"
		rm -rf "$p"
	fi
done
