tags
**/examples/nodejs/node_modules
**/examples/python/.venv
**/examples/rust/.bacon-locations
**/examples/rust/Cargo.lock
**/examples/rust/target
**/miro/lazy-lock.json
dot_config/herdr/session.json
dot_config/herdr/*.log
dot_config/hunk/private_state.json
dot_config/pi/models
dot_config/pi/agent/git
dot_config/pi/agent/npm
dot_config/pi/agent/sessions
dot_config/pi/agent/*.log
dot_config/pi/agent/*auth.json
zsh-autosuggestions
.zcompdump
dot_zcompdump
node_modules
