tags
**/examples/nodejs/node_modules
**/examples/python/.venv
**/examples/rust/.bacon-locations
**/examples/rust/Cargo.lock
**/examples/rust/target
**/miro/lazy-lock.json
dot_config/pi/sessions
dot_config/pi/pi-debug.log
dot_config/pi/private_auth.json
zsh-autosuggestions
.zcompdump
dot_zcompdump
node_modules
